.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.icon{
    top: 9px;
    right: 9px;
    position: absolute; 
    color: red;
}
.icon2{
    top: 9px;
    right: 33px;
    position: absolute;
    color: #32a932;
}
.Task{
    position: relative;
}